<% breakpoints = YAML.load_file(File.join(Rails.root, 'site', 'breakpoints.yml'))['breakpoints'] %>
$mobile-1-25: <%= breakpoints['mobile_1_25'] %>px;
$mobile-1-5: <%= breakpoints['mobile_1_5'] %>px;
$mobile-1-75: <%= breakpoints['mobile_1_75'] %>px;
$mobile-2: <%= breakpoints['mobile_2'] %>px;
$mobile-3: <%= breakpoints['mobile_3'] %>px;
$non-mobile-1: <%= breakpoints['non_mobile_1'] %>px;
$non-mobile-2: <%= breakpoints['non_mobile_2'] %>px;
$non-mobile-3: <%= breakpoints['non_mobile_3'] %>px;

$bp-mobile: new-breakpoint(max-width ($non-mobile-1 - 1));
$bp-mobile-1-25: new-breakpoint(min-width $mobile-1-25);
$bp-mobile-1-5: new-breakpoint(min-width $mobile-1-5);
$bp-mobile-1-75: new-breakpoint(min-width $mobile-1-75);
$bp-mobile-2: new-breakpoint(min-width $mobile-2);
$bp-mobile-2-landscape: new-breakpoint(min-width $mobile-2 orientation landscape);
$bp-mobile-3: new-breakpoint(min-width $mobile-3);
$bp-non-mobile-1: new-breakpoint(min-width $non-mobile-1);
$bp-non-mobile-2: new-breakpoint(min-width $non-mobile-2);
$bp-non-mobile-3: new-breakpoint(min-width $non-mobile-3);

$bp-mobile-1-2: new-breakpoint(max-width ($mobile-2 - 1));
$bp-mobile-2-3: new-breakpoint(min-width $mobile-2 max-width ($mobile-3 - 1));
$bp-mobile-3-non-mobile-1: new-breakpoint(min-width $mobile-3 max-width ($non-mobile-1 - 1));

$bp-non-mobile-1-non-mobile-2: new-breakpoint(min-width $non-mobile-1 max-width ($non-mobile-2 - 1));
$bp-non-mobile-2-3: new-breakpoint(min-width $non-mobile-2 max-width ($non-mobile-3 - 1));

$bp-desktop-nav-bar: new-breakpoint(min-width 1024px);
